@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  max-width: 1200px;
  margin: 0 auto;
}

.custom-color {
  color: #ff0000;
}

.custom-color:hover {
    color:#fff
}

.custom-white {
    color: #fff;
}

.react-player{
  padding-bottom: 25px;
}